*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html:focus-within {
    scroll-behavior: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  
  html, body {
    height: 100%;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  ul[role^="list"] {
    list-style: none;
  }
  
  #__nuxt {
    isolation: isolate;
  }
  
  body {
    overflow-x: hidden;
  }
  
  fieldset {
    border: none;
    padding: 0;
    display: block;
  }